[Desktop Entry]
Type=Application
Version=0.0
Name=PlantUML
Comment=No comment
Exec=/usr/bin/plantuml
Icon=/home/yann/system/etc/icons/pycharm.png
Categories=Development;IDE;
